label{
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;

}

h3 {
    font-weight: bold;
    padding: 10px;
}

:placeholder-shown {
    font-size: medium;
    font-style: italic;
}


.form-control {
    width: 250%;
    align-items: center;
}

p {
    color: red;
    font-style: italic;
    font-size: medium;
}

table th {
   font-size: larger;
}

.search {
    width: 100px;
    margin-left: 500px;
    
}